.sidebar {
      background-color: #041235;
      height: 100vh;
      width: 280px;
      color: white;
      padding-top: 20px;
      position: relative;
      overflow-x: 10px;

}



.items {
      padding: 20px 10px;
}

li:hover {
      background-color: #274C70;

}

li {
      list-style: none;
}

a {
      color: white;
      text-decoration: none;
}


@media only screen and (max-width: 768px) {
      .sidebar {
            width: 200px;

      }

      .items {
            padding: 15px 20px;

      }
}