.content {
      display: flex;
      flex-wrap: nowrap;
}

.college-content {
      margin: 20px 40px 20px 10px;
      text-align: center;
      width: 100%;
}



th {
      color: black;
      text-align: start;
      padding: 20px;
      text-align: start;

}

tr {
      background-color: #fff;
      text-align: start;


}

.btn {
      cursor: pointer
}

.heading {
      background-color: #DDE2EB;
      color: #545454;

      width: 100%;
}

.heading button {
      margin: 10px 10px;
}

td {
      padding: 5px 34px;
      width: 0px;


}

table {
      box-shadow: 1px 1px 5px 1px rgb(162, 163, 163);
}

.modal {
      display: flex;
      flex-direction: column;
      padding: 0px;
}