.content {
      display: flex;
      width: 100%;
      flex-wrap: wrap;

}

.eventmanagement-content {
      margin: 20px 20px;
      text-align: center;
      width: 100%;
      overflow-x: auto;

}

.heading {
      background-color: #DDE2EB;
      color: #545454;
}

.heading button {
      margin: 10px 10px;
}

th {
      color: black;
      text-align: center;
      padding: 0px 24px;
}

.table-container {
      max-height: 500px;


}

table {
      width: 100%;
      border-collapse: collapse;
      color: #262626;
      box-shadow: 1px 1px 5px 1px rgb(162, 163, 163);



}

td {
      background-color: #fff;
}

.btn {
      cursor: pointer;
}

@media only screen and (max-width: 768px) {
      .eventmanagement-content {
            margin: 10px;
            overflow-x: auto;

      }
}